@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 02 */
.text-light-gray{
    color: #727272;
}

.bg-light,.footer-container{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.text-primary{
    color: #FF900E;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}


/* header styles */
/* navbar styles here*/

.navbar{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    /* display: flex; */
}

.brand{
    font-weight: 700px;
    font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    
}

/* banner related styles*/

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}

.banner-title{
    font-weight: 700;
    font-size: 4rem;

}

.banner-image{
    width: 100%;
}

/* team and feature related style */
.teams{
    align-items: center;
}

.team-img-container{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}

.p2{
    margin-bottom: 50px;
    max-width: 540px;
}
.p3{
    margin-bottom: 24px;
}
/* features part */


.feature{
    gap: 100px;

}

#feature-side{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;

}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
    margin-bottom: 20px;
    
}

#expBadge{
    padding: 30px 30px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -90px;
    margin-top: -90px;

}
#expYear{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.fImg img{
    width: 100%;

}

/* fact cards styles */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;

}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}


#p1{
    font-weight: 500;
}
.feature-description{
    margin-bottom: 20px;
}

/* sponsor info */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);

}
/* sponsor gray scaled */
.sponsor-company img{
    filter: grayscale(100%);
}
.footer-container{
    max-width: 1920px;
    align-items: center;
    text-align: center;
    padding: 30px 200px 30px 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* responsive part */

@media screen and (max-width:576px){
    .navbar, 
    .nav-links, 
    .teams,
    .feature
    {
        flex-direction: column;
    }
    .team-img-container,
    .facts-container, 
    .sponsor-company {
        grid-template-columns: repeat(1,1fr);
    }

    .facts-container,.sponsor-company{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 20px;
    }
    #expBadge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .footer-container{
        padding: 20px;
    }
    .banner-title{
        font-size: 30px;
    }
}

/* medium device */

@media screen and (min-width:576px) and (max-width:992px){
    .teams,.feature{
        flex-direction: column;
    }
        .our-features{
        margin: 20px auto;
    }
    .sponsor-company,.facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
        #expBadge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .footer-container{
        padding: 20px 40px;
    }
        .banner-title{
        font-size: 45px;
    }
}